CONFIG_PROJECT_VERSION="1.0.1"
CONFIG_TUYA_PRODUCT_KEY="p320pepzvmm1ghse"
CONFIG_ENABLE_CHAT_MODE_ASR_WAKEUP_FREE=y
CONFIG_ENABLE_WAKEUP_KEYWORD_NIHAO_TUYA=y
CONFIG_ENABLE_CHAT_DISPLAY=y
CONFIG_ENABLE_GUI_CHATBOT=y
CONFIG_ENABLE_WEATHER_FEATURE=y
CONFIG_BOARD_CHOICE_ESP32=y
CONFIG_BOARD_CHOICE_DNESP32S3=y
CONFIG_ENABLE_LIBLVGL=y 